{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "https://cdnfuadesarrollo.blob.core.windows.net/estilosfua/style.css" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
     <!-- FAVICON -->
     <link rel="icon" type="image/jpg" href="https://cdnfuadesarrollo.blob.core.windows.net/estilosfua/Favicono.png"/>
    <title>Registro Asistencia</title>
    <script>
      function getLocationAndSend() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                document.getElementById('latitude').value = position.coords.latitude;
                document.getElementById('longitude').value = position.coords.longitude;
                document.getElementById('error-message').innerHTML = ''; // Limpiar mensajes de error previos
                showSpinner();  // Mostrar el spinner antes de enviar el formulario
                document.getElementById('registrationForm').submit(); // Enviar el formulario
            }, function(error) {
                console.log("Error obteniendo la ubicación: ", error);
                if (error.code === error.PERMISSION_DENIED) {
                    document.getElementById('error-message').innerHTML = '<div class="alert alert-danger" role="alert"> Para continuar con el registro, es necesario permitir el acceso a su ubicación. </div>';
                } else {
                    document.getElementById('error-message').innerHTML = '<div class="alert alert-warning" role="alert"> Hubo un problema al obtener su ubicación. Por favor, intente nuevamente. </div>';
                }
            });
        } else {
            console.log("Geolocalización no es soportada por este navegador.");
            document.getElementById('error-message').innerHTML = 'Su navegador no soporta geolocalización.';
        }
      }

      function showSpinner() {
          // Mostrar el spinner al usuario
          document.getElementById('loading-spinner').style.display = 'block';
      }

      // Restaurar el spinner a none si el usuario regresa usando el botón 'atrás' del navegador
      window.addEventListener('pageshow', function(event) {
          if (event.persisted) {  // Detecta si la página se carga desde la caché
              document.getElementById('loading-spinner').style.display = 'none';
          }
      });
    </script>
    <style>
      /* Ocultar el spinner inicialmente */
      #loading-spinner {
          display: none;
          position: fixed; /* Para que se quede fijo en la pantalla */
          top: 40%;
          left: 40%;
          width: 10rem;
          height: 10rem;
          z-index: 1000; /* Asegurarse de que esté sobre otros elementos */
      }

      @media (max-width: 768px){
        #loading-spinner{
          top: 30%;
          left: 32%;
        }
      }
  </style>
  </head>
  <body>
      <div class="registrer">
        <div class="left-side">
          <img
          src="https://cdnfuadesarrollo.blob.core.windows.net/estilosfua/funda-logo-3.png"
          class="logo"
          alt="Logo Fundacion"
          />
        </div>

        <div class="right-side">
          <h5 class="mt-3">{{ capacitacion.tipo }}:</h5>
          <h3 class="topic-tittle mt-1">{{ capacitacion.tema }}</h3>
          <h5 class="mb-3">Registro Asistencia</h5>
          
          {% if not is_active %}
            <div class="alert alert-danger" role="alert">
              Esta {{ capacitacion.tipo }} no admite registros.
            </div>
          {% endif %}
          {% if error_message %}
            <div class="alert alert-warning" role="alert">
              {{ error_message }}
            </div>
          {% endif %}

          <!-- Contenedor para mensajes de error -->
          <div id="error-message" class="mt-5"></div>

          <form id="registrationForm" class="mt-4" method="post" onsubmit="event.preventDefault(); getLocationAndSend();">
            {% csrf_token %}

            <div class="mb-3">
              <input type="hidden" name="topic" value="{{ form.initial.topic }}">
            </div>

            <div class="mb-3">
              <label><strong>Objetivo:</strong> {{ form.initial.objective }}</label>
              <input type="hidden" name="objective" value="{{ form.initial.objective }}">
            </div>

            <div class="mb-3">
              <label><strong>Área:</strong> {{ form.initial.department }}</label>
              <input type="hidden" name="department" value="{{ form.initial.department }}">
            </div>

            <div class="mb-3">
              <label><strong>Moderador:</strong> {{ form.initial.moderator }}</label>
              <input type="hidden" name="moderator" value="{{ form.initial.moderator }}">
            </div>

            <div class="mb-3">
              <label><strong>Fecha:</strong> {{ form.initial.date }}</label>
              <input type="hidden" name="date" value="{{ form.initial.date }}">
            </div>

            <div class="mb-3">
              <label><strong>Hora Inicial:</strong> {{ form.initial.start_time|time:"h:i A" }}</label>
              <input type="hidden" name="start_time" value="{{ form.initial.start_time|time:"H:i" }}">
          </div>

            <div class="mb-3">
              <label><strong>Hora Final:</strong> {{ form.initial.end_time|time:"h:i A" }}</label>
              <input type="hidden" name="end_time" value="{{ form.initial.end_time|time:"H:i" }}">
            </div>

            <div class="mb-3">
              <label><strong>Modalidad: </strong> {{ form.initial.mode}}</label>
              <input type="hidden" name="mode" value="{{ form.initial.mode }}">
              <input type="hidden" name="location" value="{{ form.initial.location }}">
              <input type="hidden" name="url_reunion"  {% if form.initial.url_reunion %} value="{{ form.initial.url_reunion }}" {% else %} value="without-url" {% endif %}>
              <input type="hidden" name="in_charge" value="{{ form.initial.in_charge }}">
            </div>

            <!-- LOCATION DATA -->
            <input type="hidden" id="latitude" name="latitude" value="">
            <input type="hidden" id="longitude" name="longitude" value="">

            <div class="id-capture">
              <div class="mb-3">
                <label for="document_id" class="mt-3"><strong>Documento de Identidad del Asistente:</strong></label>
                {{ form.document_id }}
              </div>
              <button type="submit" class="btn btn-funda" {% if not is_active %} disabled {% endif %}>
                Registrar
              </button>
            </div>
        </form>
         <!-- Spinner de carga -->
        <div id="loading-spinner" class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
