{% extends 'base.html' %}

{% block title %}Asistentes{% endblock %}

{% block content %}
<div class="header-section">
    <a href="{% url 'home' %}"><button type="button" class="btn btn-success-f"><i class="bi bi-arrow-left"></i></button></a>
    <h3>Asistentes a la Capacitación: {{ capacitacion.tema }}</h3>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Área</th>
            </tr>
        </thead>
        <tbody>
            {% for assistant in assistants %}
            <tr>
                <td>{{ assistant.userId }}</td>          
                <td>{{ assistant.username }}</td>
                <td>{{ assistant.jobTitle }}</td>
                <td>{{ assistant.employeeDepartment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


